:root {
  --white: #ffffff;
  --blue_name: #42446e;
  --nav: #666666;
  --desscript: #666666;
  --svg_img: invert(44%) sepia(1%) saturate(3434%) hue-rotate(327deg) brightness(85%) contrast(80%);
  --border: #eee;
  --my_name: #42446e;
  --bg_project: #fff;
  --project_name: #000000;
  --project_description: #666666;
  --project_stack: #42446E;
  --project_links: #000;
  --contact: #1E0E62;
  --time_job: #D7FFE0;
}

.dark {
  --white: #191919;
  --blue_name: #CCCCCC;
  --nav: #A7A7A7;
  --desscript: #A7A7A7;
  --svg_img: invert(70%) sepia(35%) saturate(0%) hue-rotate(200deg) brightness(89%) contrast(92%);
  --border: #232323;
  --my_name: #D9D9D9;
  --bg_project: #363636;
  --project_name: #cccccc;
  --project_description: #cccccc;
  --project_stack: #cccccc;
  --project_links: #fff;
  --icons_links: invert(100%) sepia(0%) saturate(7500%) hue-rotate(46deg) brightness(116%) contrast(112%);
  --contact: #D9D9D9;
  --time_job: #badfbd;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button {
  border: none;  
}

a:link {
  text-decoration: none;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 42px;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--white); 
}


.header {
  width: 100%;
  background-color: var(--white);
  border-bottom: 2px solid var(--border);
  top: 0;
  position: sticky;
  z-index: 100;
}

.header > div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 120px;
  gap: 40px;
  width: 1193px;
  align-items: center;
}


.logo, .logo img {
  width: 97px;
  height: 59px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  width: 750px;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.nav a {
  color: var(--nav);
}

.header .social_media {
  display: flex;
  justify-content: space-between;
}

.social_media ul {
  display: flex;
  justify-content: space-between;
  width: 130px;
  height: 32px;
}

.social_media img {
  filter: var(--svg_img);
  width: 30px;
  height: 30px;
}

/* .top-nav {
  display: none;
} */
#check {
  display: none;
}

.icons img {
  display: none;
}

/* Dark mode btn */

.dark-mode-btn {
  order: 9;
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 51px;
  height: 26px;
  padding: 5px;

  border-radius: 50px;
  background-color: #272727;
}

.dark-mode-btn::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 1px;

  display: block;
  width: 24px;
  height: 24px;
  
  border-radius: 50%;
  background-color: #eeeeee;

  transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
  left: 26px;
}

.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}

/* Main */

.home {
  height: 95vh;
  width: 1193px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.my_name h1 {
  color: var(--my_name);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.gradient {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.photo img {
  width: 349px;
  height: 349px;
}

.about {
  width: 1193px;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  gap: 38px;
  justify-content: space-between;
}

.about h2 {
  color: var(--blue_name);
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
}

.text_about_me {
  width: 708px;
  margin-top: 38px;
  color: var(--desscript);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 38px;
}

.experience_example {
  width: 708px;
  height: 75px;
  border-bottom: 2px solid var(--border);
}

.first_line_example {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position {
  color: var(--nav);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
}

.time_job {
  color: #018C0F;
  text-align: center;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  width: 84px;
  height: 24px;
  border-radius: 100px;
  background: var(--time_job);
}

.second_line_example {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 43px;
  color: #a7a7a7;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
}

.second_line_position {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.education .second_line_position {
  width: 70%;
}

.office {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
}

.date {
  display: flex;
  align-items: center;
}

.date img {
  margin: 0 3px;
}

#tech_stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_skills {
  display: flex;
  justify-content: space-between;
  padding-block-end: 7vh;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.img_skill {
  filter: var(--icons_links);
}



#projects {
  display: flex;
  margin: auto;
  width: 1193px;
  flex-direction: column;
  justify-content: space-around;
}

.my_projects {
  width: 1193px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.info_project {
  margin-bottom: 7vh;
  width: 373px;
  height: 567px;
  border-radius: 20px;
  background: var(--bg_project);
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info_project img {
  width: 373px;
  height: 260px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.name_project {
  color: var(--project_name);
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.text_project {
  width: 297px;
  color: var(--project_description);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}

.stack_project {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  align-content: space-between;
  justify-content: space-around;
}

.tech_stack_pr {
  color: var(--project_stack);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.tech_stack_pr span {
  color: var(--project_stack);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}

.link_project {
  display: flex;
  align-items: center;
}

.link_project a {
  color: var(--project_links);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-decoration-line: underline;
}

.link_project img {
  filter: var(--icons_links);
  position: static; 
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.contact {
  height: 45vh;
  width: 1193px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact * {
  color: var(--contact);
  text-align: center;
  font-family: DM Sans;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.contact a {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
  margin: auto;
  width: 1193px;
  flex-direction: column;
  justify-content: space-around;
}

.footer_up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 206px;
  margin-bottom: 20px;
}

.footer_up .logo {
  filter: var(--svg_img);
}

.footer_link {
  display: flex;
  align-items: center;
  gap: 50px;
}

.tel a {
  width: 149px;
  height: 16.5px;
  color: var(--project_stack);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.mail a {
  width: 206.7px;
  height: 16.5px;
  color: var(--project_stack);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.social_media_footer ul {
  display: flex;
  justify-content: space-between;
  width: 130px;
  height: 32px;
  margin: 0 0 0 48px;
}

.social_media_footer img {
  filter: var(--svg_img);
  width: 30px;
  height: 30px;
}

.line {
  border-bottom: 2px solid var(--border);
}

.footer_down {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 59px 0;
}

.footer_nav ul {
  width: 554px;
  gap: 52px;
  display: flex;
  justify-content: space-between;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.footer_nav ul a {
  color: var(--nav);
}

.copyright {
  color: var(--nav);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.copyright_color {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 1400px) {
  .header > div,
  .home,
  .about,
  .contact,
  footer,
  #projects,
  .my_projects {
    width: 900px;
  }

  .header > * {
    height: 100px;
    gap: 40px;
  }

  .logo, .logo img {
    width: 70px;
  }

  .nav ul {
    gap: 31px;
    width: 500px;
    font-size: 16.4px;
  }

  .my_name h1 {
    font-size: 42px;
    line-height: 43.4px;
  }
  .gradient {
    font-size: 42px;
    line-height: 43.4px;
  }
  .photo img {
    width: 270px;
    height: 270px;
  }

  .about {
    gap: 30px;
  }

  .about h2 {
    font-size: 35px;
    line-height: 32px;
  }

  .text_about_me {
    margin-top: 25px;
    font-size: 16px;
  }

  .img_skills {
    gap: 80px;
  }

  .img_skills img {
    width: 74.4px;
    height: 74.4px;
  }

  .info_project {
    width: 420px;
    height: 520px;
  }

  .info_project img {
    width: 420px;
    height: 240px;
  }

  .link_project img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .contact * {
    font-size: 38px;
    line-height: 43.4px;
  }

  .footer_up {
    margin-top: 128px;
  }

  .footer_link {
    gap: 31px;
  }

  .tel a {
    font-size: 15px;
  }
  .mail a {
    font-size: 15px;
  }
  .social_media_footer ul {
    margin: 0 0 0 29.8px;
  }
  .social_media_footer img {
    width: 30px;
    height: 30px;
  }

  .footer_nav ul {
    width: 450px;
    gap: 25px;
    font-size: 15px;
  }
  .copyright {
    margin: auto 0;
    font-size: 15px;
  }
  .copyright_color {
    font-size: 15px;
  }
}

@media (max-width: 990px) {
  .header > div,
  .home,
  .about,
  .contact,
  footer,
  #projects,
  .my_projects {
    width: 700px;
  }

  .header > div {
    height: 80px;
    gap: 20px;
  }

  .logo, .logo img {
    width: 60px;
  }

  

  .nav ul {
    gap: 31px;
    width: 390px;
    font-size: 14px;
  }

  .social_media ul {
    width: 95px;
    height: 27px;
  }

  .social_media img {
    width: 25px;
    height: 25px;
  }

  .my_name h1 {
    font-size: 34px;
    line-height: 43.4px;
  }
  .gradient {
    font-size: 34px;
    line-height: 43.4px;
  }
  .photo img {
    width: 200px;
    height: 200px;
  }

  .about h2 {
    font-size: 30px;
    line-height: 32px;
  }

  .text_about_me {
    margin-top: 25px;
    font-size: 15px;
  }

  .experience_example {
    width: 700px;
  }

  .img_skills {
    gap: 60px;
  }

  .img_skills img {
    width: 60px;
    height: 60px;
  }

  .info_project {
    width: 330px;
    height: 520px;
  }

  .info_project img {
    width: 330px;
    height: 240px;
  }

  .name_project {
    font-size: 22px;
    line-height: 20px;
  }

  .text_project {
    font-size: 16px;
  }

  .link_project img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .contact * {
    font-size: 31px;
    line-height: 43.4px;
  }

  .footer_link {
    gap: 24px;
  }

  .tel a {
    font-size: 14px;
  }
  .mail a {
    font-size: 14px;
  }

  .social_media_footer ul {
    width: 105px;
    height: 27px;
  }
  .social_media_footer img {
    width: 25px;
    height: 25px;
  }

  .footer_nav ul {
    width: 300px;
    gap: 10px;
    font-size: 13px;
  }
  .copyright {
    font-size: 13px;
  }
  .copyright_color {
    font-size: 13px;
  }
}

@media (max-width: 770px) {
  .header > div,
  .home,
  .about,
  .contact,
  footer,
  #projects,
  .my_projects,
  .about,
  .text_about_me,
  .experience_example {
    width: 430px;
  }

  .header > div {
    height: 80px;
    gap: 13px;
  }

  .header .logo {
    width: 60px;
  }

  

  /* Menu */

  /* .top-nav {
    display: flex;
    width: 33%;
    background-color: var(--white);
    position: relative;
    color: #666666;
    text-align: center;
    height: 40px;
    font-family: DM Sans;
  }
  #check-menu {
    display: none;
  }
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
  }
  .top-nav .burger-line {
    position: absolute;
    top: 8px;
    right: 0;
    width: 35px;
    height: 5px;
    background-color: #666666;
    transition: 0.5s all;
  }
  .top-nav .second,
  .top-nav .third {
    top: 18px;
  }
  .top-nav .fourth {
    top: 28px;
  }
  .top-nav .main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
  }

  .top-nav a {
    display: block;
    width: 100%;
    padding: 10px 3px;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgb(112, 111, 111);
    background-color: #e1e1e1;
  }

  .dark-mode-btn {
    order: 0;
  }

  #check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }

  .main-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
  }

  .top-nav .main-menu li a:focus {
    display: none;
  }

  */

  /* SECOND */

  /* .header .nav {
    display: none;
  } */

  .icons {
    order: 10;
    padding: auto 0;
  }

  .icons img {
    display: inline-flex;
    width: 35px;
    filter: var(--svg_img);
    cursor: pointer;
  }

  #menu-icon {
    margin-top: 5px;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .header .nav{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    /* box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked~.nav {
    height: 230px;
  }

  .header .nav ul {
    display: block;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .nav > ul > li {
    margin: 16px;
  }

  .nav > ul > li > a {
    font-size: 17px;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
    --i: 0;
  }

  #check:checked~ .nav > ul > li > a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }


  /*  */

  .header .social_media {
    width: 105px;
  }

  .office {
    line-height: 13px
  }

  .my_projects {
    flex-direction: column;
  }

  .info_project {
    width: 430px;
    height: 520px;
  }

  .info_project img {
    width: 430px;
    height: 240px;
  }

  .link_project img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }


  .contact * {
    font-size: 24px;
    line-height: 30px;
  }

  .footer_link {
    gap: 14px;
  }

  .tel a {
    font-size: 11px;
  }
  .mail a {
    font-size: 11px;
  }

  .social_media_footer ul {
    width: 75px;
    height: 20px;
    margin: 0;
  }
  .social_media_footer img {
    width: 20px;
    height: 20px;
  }

  .footer_nav ul {
    width: 80%;
    gap: 10px;
    font-size: 11px;
  }

  .footer_down {
    flex-direction: column;
  }

  .footer_nav ul {
    margin: 0 auto;
  }

  .copyright {
    font-size: 11px;
  }
  .copyright_color {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
   .header > div,
  .home,
  .about,
  .contact,
  footer,
  #projects,
  .my_projects,
  .about,
  .text_about_me {
    width: 90%;
  }

  .header > div {
    height: 60px;
  }

  .header .social_media {
    width: 90px;
  }

  .home {
    height: 100%;
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 20px auto;
  }
  .my_name h1 {
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    margin-top: 30px;
  }
  .gradient {
    font-size: 26px;
    line-height: 30px;
  }
  .about {
    text-align: center;
    gap: 20px;
  }
  .text_about_me {
    width: 100%;
   margin: 10px auto;
  }

  .experience_example {
    width: 100%;
    text-align: start;
}

.position {
  font-size: 14px;
}
  .second_line_example{
    flex-direction: column;
  }

  .second_line_position {
    width: 100%;
    flex-direction: column;
  }

  .date{
    line-height: 13px
  }

  .experience_example {
    height: 110px;
  }


  

  .img_skills {
    justify-content: center;
  }

  .img_skills {
    gap: 50px;
  }

  .img_skills img {
    width: 50px;
    height: 50px;
  }

  .my_projects {
    width: 100%;
    justify-content: space-evenly;
  }

  .info_project {
    width: 100%;
    height: 520px;
  }

  .info_project img {
    /* width: 100%; */
    width: 90vw;
    height: 240px;
  }

  .link_project img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .text_project {
    width: 90%;
    font-size: 14px;
    text-align: start;
}

.tech_stack_pr {
  font-size: 12px;
  line-height: 13px;
  margin-bottom: 5px;
  text-align: start;
  width: 100%;
}

.tech_stack_pr span {
  font-size: 12px;
  line-height: 0;
  
}

.link_project a {
  font-size: 14px;
}

  .contact * {
    font-size: 20px;
  }
  
    
  .footer_link {
    flex-direction: column;
    gap: 3px;
  }
  .social_media_footer ul {
    width: 70px;
    margin: 0;
  }
  .footer_down {
    margin: 30px 0 20px 0;
    justify-content: center;
  }

  
  .footer_nav ul {
    width: 90%;
    gap: 2px;
    font-size: 10px;
  }
  .copyright, .copyright_color {
    font-size: 9px;
  }
}
